<div class="w-full lg:w-11/12 mt-6 pl-0 lg:pl-2">
  <div class="leading-loose">
    <form class="p-10 bg-white rounded shadow-xl">
      <p class="text-lg text-gray-800 font-medium pb-4">
        Creer un groupe candidat
      </p>

      <!-- nom candidat -->
      <div class="mt-4">
        <label class="block text-sm text-gray-600" for=" evenement_type"
          >Candidat nom</label
        >
        <select
          name="evenement_type"
          class="w-full px-5 py-2 text-gray-700 bg-gray-200 rounded"
        >
          <option class="p-8" value="" disabled>Selectionnez le type</option>
          <option class="p-8" value="groupe">Anne Joe</option>
          <option value="candidat">John Doe</option>
        </select>
      </div>

      <!-- nom du groupe candidat -->
      <div class="mt-4">
        <label class="block text-sm text-gray-600" for=" evenement_type"
          >Nom du groupe</label
        >
        <select
          name="evenement_type"
          class="w-full px-5 py-2 text-gray-700 bg-gray-200 rounded"
        >
          <option class="p-8" value="" disabled>Selectionnez le type</option>
          <option class="p-8" value="groupe">Triangle rouge</option>
          <option value="candidat">Piment sucre</option>
        </select>
      </div>

      <div class="mt-6">
        <button
          class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded"
          type="submit"
        >
          Enregistrer
        </button>
      </div>
    </form>
  </div>
</div>
