<nav class="text-white text-base font-semibold pt-3">
  <ng-content></ng-content>
    <!-- <a
      href="index.html"
      class="flex items-center active-nav-link text-white py-4 pl-6 nav-item"
    >
      <i class="fas fa-tachometer-alt mr-3"></i>
      Dashboard
    </a>
    <a
      routerLink="evenement"
      class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item"
    >
      <i class="fas fa-sticky-note mr-3"></i>
      Evenement
    </a>
    <a
      href="tables.html"
      class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item"
    >
      <i class="fas fa-table mr-3"></i>
      Candidat
    </a>
    <a
      href="forms.html"
      class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item"
    >
      <i class="fas fa-align-left mr-3"></i>
      Critere
    </a>
    <a
      href="tabs.html"
      class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item"
    >
      <i class="fas fa-tablet-alt mr-3"></i>
      Groupe Candidat
    </a>
    <a
      href="calendar.html"
      class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item"
    >
      <i class="fas fa-calendar mr-3"></i>
      lorem
    </a> -->
  </nav>